.gbutton {
    position: absolute;
    left: 50%;
    margin-left: -50px;
}

.main {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.marginbtn {
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn-streamer-main {
    text-align: right;
    margin-bottom: 5%;
}

.btn {
    text-transform: none;
}